@charset "ISO-8859-1";
.ui-widget {  
    font-size: 12px !important;  
} 
 
html,
body {
   margin:0;
   padding:0;
   height:100%;   
}
#content {
 
   min-height:93%;
   position:relative;
}
#header {
   padding:0px;
}
#body {
 
   padding:10px;
   padding-bottom:60px;
}
#footer {
   /*position:absolute;*/
   bottom:0;
   margin-top: 2em;
   width:100%;
   height:20px;  
   background:#BDBDBD;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 400px;
  border-radius: 3px;
  background: #FFFFFF;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

.img_card {
	width: 100%;
	border-radius: 10px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.ui-menuitem ui-widget ui-corner-all {
	border-style: outset;
    border-top-style: outset;
    border-right-style: outset;
    border-bottom-style: outset;
    border-left-style: outset;
	padding-left: -10px;
	margin-left: 2em;
}